<h2 style="color:white" class="text-center">Welcome to <strong>Profile Bin</strong> coded by Aditya Chatterjee</h2><p style="color:white"><strong><br>This is a place where students can create profiles and describe their skill set in the description field. One can browse through the set of users and eventually decide who will fit the present need. Those who have a paid account may eventually contact the prospective students through the contact information provided. This application is in its primitive form and will gradually grow in terms of user experience and security.<br></strong></p>
<p style="color:white"><strong><br>This is a Ruby on Rails application with Rails version 4.1.0 and Ruby version 2.1.5<br>A thankful shout out to all people who have contributed in the gems used in this application as indirectly they have contributed in establishing Profile Bin.</strong></p>

<p style="color:white"><strong><br>The entire code for the application Profile Bin has been uploaded to my 
<a href="http://www.github.com/adichat"><i class="fa fa-github-alt"></i> GitHub Account</a>
and will always remain accessible to the open web<br><br>In case, you want to get in touch with me or ask me something about life or coding, you may email me or use the contact forms in this application and I will try to answer.</strong></p>
<p style="color:white" class="text-center"><br><strong>@No_Worries_I_Am_Here</strong></p>

