@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.alert-notice {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.navbar{
	background: linear-gradient(90deg,#000000 10%, #53346D 90%);
}
body{
	position: relative;
    background: #000 url("5.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    		
}

.jumbotron {
    position: relative;
    background: #000 url("3.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    opacity: 0.8;
}

.well {
    position: relative;
    background: #000 url("7.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    opacity: 0.9;
}